{{!-- <div class='container pb-5 w-50'> 
  <form action="/login" method="POST" class="container-fluid">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </div>
    
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" name="password" id="password">
    </div>
    
    <button type="submit" class="btn btn-outline-dark">Entrar</button>
  </form>
</div> --}}

<div class="login">
  <form action="/login" method="POST" class="login-form">
      <h1>Entrar</h1>
      <div class="textb">
        <input type="text" name="email" required>
        <div class="placeholder">Email</div>
      </div>

      <div class="textb">
        <input type="password" name="password" required>
        <div class="placeholder">Senha</div>
        <div class="show-password fas fa-eye-slash"></div>
      </div>

      <button class="btn fas fa-arrow-right btn-login" disabled></button>
      <a href="/signup">Cadastre-se</a>
    </form>
  </div>

  <script>
    var fields = document.querySelectorAll(".textb input");
    var btn = document.querySelector(".btn");
    function check(){
      if(fields[0].value != "" && fields[1].value != "")
        btn.disabled = false;
      else
        btn.disabled = true;  
    }

    fields[0].addEventListener("keyup",check);
    fields[1].addEventListener("keyup",check);

    document.querySelector(".show-password").addEventListener("click",function(){
      if(this.classList[2] == "fa-eye-slash"){
        this.classList.remove("fa-eye-slash");
        this.classList.add("fa-eye");
        fields[1].type = "text";
      }else{
        this.classList.remove("fa-eye");
        this.classList.add("fa-eye-slash");
        fields[1].type = "password";
      }
    });
  </script>