<div class="col-2 side-menu d-flex flex-column justify-content-space-around">
  <div class="d-flex flex-column align-items-center mb-5">
    <img src="{{this.image}}" alt="Profile image" class="mb-3">
    <h3>{{this.name}}</h3>
    <h5>{{this.category}}</h5>
  </div>

  <div class="d-flex flex-column align-items-center">
    <a href="/profile">Editar Perfil</a>
    <a href="/list-dishes">Pratos</a>
    <a href="/logout">Logout</a>
  </div>

</div>