<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->

<!---navbar--->
<a name="top"></a>
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="#"><img src="/images/chefhat1.png" class="hat-logo-1"></a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					
					<ul class="navbar-nav ml-md-auto">
						<li class="nav-item active">
							 <a class="nav-link" href="#">Encontre Sua Marmita <span class="sr-only"></span></a>
						</li>
                        <li class="nav-item active">
							 <a class="nav-link" href="#comofunciona">Como Funciona <span class="sr-only"></span></a>
						</li>
                        <li class="nav-item active">
							 <a class="nav-link" href="#">Quero Vender<span class="sr-only"></span></a>
						</li>
                        <li class="nav-item active">
							 <a class="nav-link" href="#contato">Contato <span class="sr-only"></span></a>
						</li>
                        <li class="nav-item active">
							 <a class="nav-link" href="#quemsomos">Quem Somos <span class="sr-only"></span></a>
						</li>
						
					</ul>
				</div>
			</nav>
            

		</div>

	</div>

<!---secao1--->
		<div class="primeira">
				<center>
				<h1 style="color: black; font-family: "Kumbh Sans", sans-serif;">
					<center>IRON QUENTINHA</center>
				</h1>
				<h4>
					Está com fome de comida caseira, mas sem tempo ou sem habilidade para preparar?
				</h4>
				</center>
				<p>
                <div class="button_cont" align="center"><a class="example_b" href="add-website-here" target="_blank" rel="nofollow noopener">Encontre Sua Marmita!</a></div>
				</p>
		</div>

<!---COMO FUNCIONA--->
<div id="comofunciona">
<div class="comofunciona"> 
<h1 class="h1funciona"><center>Como Funciona?</center></h1>
    <div class="container-funciona">
        <div class="centered">Quer provar uma comidinha caseira diferente? Está sem tempo de preparar a própria comida? Aqui você encontra uma lista diversa de pessoas que vendem sua marmita, informando localização/onde entregam, tipo de marmita, preço, etc. Basta ir em "Encontre Sua Marmita" e ver as opções disponíveis, então use nosso próprio formulário de contato para falar direto com o/a vendedor(a) - prático e rápido!
        <br>
        <br>
        <p>Você faz marmitas? Clique em "Quero Vender", faça um cadastro rápido e simples para começar a vender, sem custo!</p></div>
        </div>    
<a href="#top" class="top">Topo</a> 
</div>
</div>

<!---CONTATO--->
<div id="contato">
<div class="contato">
<h1><center>Entre em contato conosco</center></h1>
<div class='container pb-5 w-50'> 
  <form onsubmit='return false'> 
    <div class='form-group'> 
      <label for='TextBox'>Nome:</label> 
      <input type='text' class='form-control' id='TextBox' placeholder='Nome' aria-describedby='shortDesc'> 
    </div>
    <div class='form-group'> 
      <label for='TextBox'>Email:</label> 
      <input type='text' class='form-control' id='TextBox' placeholder='exemplo@email.com' aria-describedby='shortDesc'> 
    </div>
    <div class='form-group'> 
      <label for='exampleFormControlTextarea1'>Dúvida, comentário, sugestão:</label> 
      <textarea class='form-control' id='exampleFormControlTextarea1' rows='3'></textarea> 
    </div>
    
    <center><button type="button" class="btn btn-outline-dark">Enviar</button></center>
  </form>
</div>
<a href="#top" class="top">Topo</a>   
</div>
</div>

<!---QUEM SOMOS--->
<div id="quemsomos">
<div class="quemsomos">
<h1><center>Quem Somos</center></h1>

	<div class="container-fluid containerquem">
	<div class="row">
		<div class="col-md-6">
			<center><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" /></center>
			<h4 class="tituloquem">
				Camila Fassarella
			</h4>
			<p>
				Formada em Relações Internacionais com pós em Marketing Digital e mais de oito anos de experiência na área de imigração/global mobility. Mesmo sendo de humanas, aproveitou a pandemia para trocar de carreira, começando então o curso full-time de Web Development Full-Stack na IronHack. 
			</p>
			<br>
			<center><span><a href="https://github.com/CamilaFass" class="social" target="_blank"><i class="fab fa-github"></i> </a></span> <span><a href="https://www.linkedin.com/in/fassarella/" class="social" target="_blank"><i class="fab fa-linkedin"></i> </a></span></center>
		</div>
		<div class="col-md-6">
			<center><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" /></center>
			<h4 class="tituloquem">
				Aruã Monteiro
			</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
			</p>
			<br>
			<center><span><a href="https://github.com/AruaMonteiro" class="social" target="_blank"><i class="fab fa-github"></i> </a></span> <span><a href="https://github.com/AruaMonteiro/ironhack-project2" class="social" target="_blank"><i class="fab fa-linkedin"></i> </a></span></center>
		</div>
		<br>
		<br>
		<center><div class="col-md-6 projeto">
			<center><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" /></center>
			<h4 class="tituloquem">
				Sobre o Projeto
			</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
			</p>
		</center></div>
	</div>
	<a href="#top" class="top">Topo</a>  
	</div>
 
</div>

<!-- </div> sobrando? --->

<!---FOOTER--->
<footer class="centro"> 
            <span><a href="https://github.com/AruaMonteiro/ironhack-project2" class="social" target="_blank"><i class="fab fa-github"></i> </a></span> 
            <br>
            <span class="final">Iron Quentinha  <i class="far fa-copyright"></i> 2020</span>
</footer>
