<!---secao1--->
		<div class="primeira">
				<center>
				<h1 style="color: black; font-family: "Kumbh Sans", sans-serif;">
					<center>IRON QUENTINHA</center>
				</h1>
				<h4>
					Está com fome de comida caseira, mas sem tempo ou sem habilidade para preparar?
				</h4>
				</center>
				<p>
                <div class="button_cont" align="center"><a class="example_b" href="/marmitas" rel="nofollow noopener">Encontre Sua Marmita!</a></div>
				</p>
		</div>

<!---COMO FUNCIONA--->
<div id="comofunciona">
<div class="comofunciona"> 
<h1 class="h1funciona"><center>Como Funciona?</center></h1>
    <div class="container-funciona">
        <div class="centered">Quer provar uma comidinha caseira diferente? Está sem tempo de preparar a própria comida? Aqui você encontra uma lista diversa de pessoas que vendem sua marmita, informando localização/onde entregam, tipo de marmita, preço, etc. Basta ir em "Encontre Sua Marmita" e ver as opções disponíveis, então use nosso próprio formulário de contato para falar direto com o/a vendedor(a) - prático e rápido!
        <br>
        <br>
        <p>Você faz marmitas? Clique em "Quero Vender", faça um cadastro rápido e simples para começar a vender, sem custo!</p></div>
        </div>    
<a href="#top" class="myButton">Volte ao Topo</a>
</div>
</div>

<!---CONTATO--->
<div id="contato">
<div class="contato">
<h1><center>Entre em contato conosco</center></h1>
<div class='container pb-5 w-50'> 
  <form action="/send-email" method="POST"> 
    <div class='form-group'> 
      <label for='TextBox'>Nome:</label> 
      <input type='text' class='form-control' id='TextBox' placeholder='Nome' aria-describedby='shortDesc' name="name"> 
    </div>
    <div class='form-group'> 
      <label for='TextBox'>Email:</label> 
      <input type='text' class='form-control' id='TextBox' placeholder='exemplo@email.com' aria-describedby='shortDesc' name="email"> 
    </div>
    <div class='form-group'> 
      <label for='exampleFormControlTextarea1'>Dúvida, comentário, sugestão:</label> 
      <textarea class='form-control' id='exampleFormControlTextarea1' rows='3' name="message"></textarea> 
    </div>
    
    <center><button type="submit" class="btn btn-outline-dark">Enviar</button></center>
  </form>
</div>
<a href="#top" class="myButton">Volte ao Topo</a>  
</div>
</div>

<!---QUEM SOMOS--->
<div id="quemsomos">
<div class="quemsomos">
<h1><center>Quem Somos</center></h1>

	<div class="container-fluid containerquem">
	<div class="row d-flex flex-wrap">
		<div class="col-md-6">
			<center><img alt="Bootstrap Image Preview" src="/images/camila.JPG" class="rounded-circle img-profile" /></center>
			<h4 class="tituloquem">
				Camila Fassarella
			</h4>
			<p>
				Formada em Relações Internacionais com pós em Marketing Digital e alguns anos de experiência trabalhando na área de imigração/global mobility. Mesmo sendo de humanas, aproveitou a pandemia para trocar de carreira, começando então o curso full-time de Web Development Full-Stack na IronHack. 
			</p>
			<br>
			<center><span><a href="https://github.com/CamilaFass" class="social" target="_blank"><i class="fab fa-github social"></i> </a></span> <span><a href="https://www.linkedin.com/in/fassarella/" class="social" target="_blank"><i class="fab fa-linkedin social"></i> </a></span></center>
		</div>
		<div class="col-md-6">
			<center><img alt="Arua profile picture" src="/images/aruaperfil.jpg" class="rounded-circle img-profile"/></center>
			<h4 class="tituloquem">
				Aruã Monteiro
			</h4>
			<p>
				Gosta muito de animais, videogames, boardgames e quadrinhos. Está fazendo o curso de Web Development Full-Stack na IronHack para ser um super desenvolvedor e dominar o mundo (risada maligna!)
			</p>
			<br>
			<center><span><a href="https://github.com/AruaMonteiro" class="social" target="_blank"><i class="fab fa-github social"></i> </a></span> <span><a href="https://www.linkedin.com/in/arua-monteiro/" class="social" target="_blank"><i class="fab fa-linkedin social"></i> </a></span></center>
		</div>
		<br>
		<br>
		<center><div class="col-md-6 projeto">
			<center><img alt="Ironhack logo" src="/images/ironhack.png" class="rounded-circle img-profile" /></center>
			<h4 class="tituloquem">
				Sobre o Projeto
			</h4>
			<p>
				Projeto número 2 do bootcamp de full stack web development da IronHack. Neste projeto utilizamos as tecnologias Node, Express, Mongoose, Handlebars, Nodemailer, Passport, Github, Deploy (Heroku), HTML, CSS, Javascript. A ideia é ter um site com ao menos duas entidades, que neste caso são: usuário (restaurante) e os pratos que o usuário cadastra, fazendo um CRUD nessas entidades.
			</p>
		</center></div>
	</div>
	<a href="#top" class="myButton">Volte ao Topo</a>
	</div>
 
</div>
