

<!---Encontre sua Marmita--->
<div class="marmitastitle">
	<center>
		<h1 style="color: black; font-family: "Kumbh Sans", sans-serif;">
			<center>Encontre Sua Marmita</center>
		</h1>
		<h6>
			Encontre abaixo a lista de restaurantes jรก cadastrados. Utilize o campo de pesquisa para filtrar pelo tipo de comida que procura.
		</h6>
	</center>

<!--Search Bar-->

<div class="wrap">
  <form action="/search" method="POST"> 
   <div class="search"> 
    <label for="inputMarmitas"></label>
      <input type="text" class="searchTerm" name="searchInput" placeholder="Pesquisar por categoria (ex: comida brasileira)">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
     
   </div>
   </form>
</div>

</div> <!-- div da primeira div -->


<!-- Lista Restaurantes -->

<div class="container-list" style="background-color: #F4A261;">
    
    <!--card-->
	<div class="row">
		<div class="center">
	{{#each result}}
	
	<div>	
  <div class="property-card" style="background-color: transparent;">
    <a href="/detalhes/{{this._id}}">
      <div class="property-image" style="background-image:url({{this.image}})">
        <div class="property-image-title">
          <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
        </div>
      </div></a>
    <div class="property-description">
      <h5> {{this.name}}</h5>
      <p><small>{{this.category}}</small></p>
    </div>
  </div>
  </div>
		{{/each}}
		</div>
	</div>
	</div>
</div>



<!---FOOTER--->
<footer class="centro"> 
            <span><a href="https://github.com/AruaMonteiro/ironhack-project2" class="social" target="_blank"><i class="fab fa-github"></i> </a></span> 
            <br>
            <span class="final">Iron Quentinha  <i class="far fa-copyright"></i> 2020</span>
</footer>